*.iml
.idea/
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
npm-debug.log
.bin/
*.bin/
bower_components/
logs/
*.log
.DS_Store
*.zip
*.gzip
*.gz
*.war
build/
node_modules
